body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: rgb(20, 19, 19);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
h1{
    font-weight: 900;
    text-align: center;
    color: rgb(118, 231, 42);
    font-size: 45px;
}
h2{
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}
h3{
    text-align: center;
    font-size: 20px;
}
a {
    text-decoration: none;
    color : white;
    text-transform: uppercase;
    font-weight: bold;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(59, 53, 53);
    padding: 10px;
}
.navegador a:hover{
    color: rgb(15, 211, 15);
}
.boton{
    background-color: #0dd314; /* Green */
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    width: fit-content;
    border-radius: 10px;
}

.boton:hover{
    background-color: #1e9b23;
    cursor: pointer;
}
.texto-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0 30px 0;
    background: linear-gradient(to bottom right, green, black);
    height: 100vh;
}
.texto-principal p{
    padding: 0 25px 0 25px;
    text-align: center;
    font-size: 16px;
}
img{
    width: 55px;
    height: 55px;
    object-fit: cover;
    box-shadow: 0 8px 6px -6px black;
}
/* Correo */
.correo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0 30px 0;
}
/* Redes sociales */
.redes-sociales{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0 30px 0;
    background-color: rgb(51, 48, 48);
}
.iconos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
}
.iconos a{
    padding: 0 15px 0 15px;
}
.iconos a:hover{
    opacity: 0.3;
}
/* Mensaje */
.mensaje{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0 30px 0;
}
/* Footer */
footer {
    text-align: center;
    font-size: 20px;
    margin-top: 25px;
    font-weight: bold;
    background-color: rgb(46, 45, 45);
}
/* Responsive design */
@media (max-width: 794px){
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 18px;
        text-align: center;
    }
    h3{
        font-size: 15px;
    }
    nav a{
        font-size: 11px;
    }
    p{
        font-size: 12px;
        text-align: center;
    }
    main{
        display: grid;
        grid-template-areas: "contenido" "redes" "mensaje" "correo" ;
    }
    .texto-principal{
        padding: 0 10px 0 10px;
        grid-area: contenido;
    }
    .correo{
        grid-area: correo;
        padding: 13px;
    }
    .redes-sociales{
        padding: 13px;
        grid-area: redes;
        background-color: unset    
    }
    .mensaje{
        padding: 13px;
        grid-area: mensaje;
        background-color: rgb(51, 48, 48);
    }
    .iconos{
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-rows:1fr 1fr 1fr;
        row-gap: 10px;
    }
    #a{
        grid-row: 3;
    }
    #b{
        grid-row: 1;
    }
    #c{
        grid-row: 2;
    }
    
    .boton{
        font-size: 12px;
    }
}
